:root {
  --cor-padrao: #089047;
  --mar-top: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #121214;
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container-titulo {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: var(--mar-top);
}
.titulo {
  font-size: 50px;
  position: relative;
  color: #7b7b7d;
}
.titulo::before {
  content:"";
  position: absolute;
  left: 5px;
  bottom: 2px;
  display: inline-block;
  width: 53px;
  height: 7px;
  background-color: var(--cor-padrao);
}

/* Container */

.container {
  max-width: 960px;
  background-color: #202024;
  border-radius: 10px;
  display: flex;
}

/* Login e Registro */
.login,
.registro {
  padding: 60px;
}

/* Padrao Form */

.form {
  display: flex;
  flex-flow: column wrap;
  color: #7b7b7d;
  position: relative;
}
.digitar {
  width: 100%;
  height: 50px;
  background-color: #121214;
  border-radius: 5px;
  border: 2px solid #121214;
  transition: border 0.2s ease 0s;
  color: white;
  padding-left: 20px;
}
.form .digitar + .digitar {
  margin-top: var(--mar-top);
}
.digitar:focus {
  border-color: var(--cor-padrao);
}
.form .esqueceu {
  margin-top: var(--mar-top);
  text-decoration: none;
  color: inherit;
}
.form .esqueceu:hover {
  color: var(--cor-padrao);
}
.form .botao {
  background: rgba(8,144,71,.5);
  margin-top: var(--mar-top);
  border-radius: 5px;
  height: 50px;
  border: 0;
  color: #eee; 
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}
.form .botao:hover {
  background-color: var(--cor-padrao);
  color: #fff;
}
.form .opcao {
  border-top: 2px solid #29292e; 
  margin-top: var(--mar-top);
}
.form .google {
  margin-top: var(--mar-top);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #121214;
  height: 50px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}
.form .google i {
  color: var(--cor-padrao);
  margin-right: 5px;
  transition: color 0.2s ease;
}
.form .google:hover {
  color: #fff;
  background-color: var(--cor-padrao);
}
.form .google:hover i {
  color: #fff; 
}

/* Divisoria */
.login {
  border-left: 2px solid #29292e; 
}

/* Estilo Checkbox */
.container-termo {
  margin-top: var(--mar-top);
}
.container-termo a {
  text-decoration: none;
  color: #7b7b7d;
}
.container-termo a:hover {
  color: var(--cor-padrao);
}

.form .termo {
  display: none;
}

.form input + label:before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #121214;
  border: 1px solid #121214;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
  transition: background .1s ease-out;
}

.form .termo:checked + label:before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-color: var(--cor-padrao);
  background-position: center;
  border: none;
  padding: 1px;
}

/* Responsividade */
@media (max-width: 630px) {
  .container {
    flex-flow: column wrap;
  }
  .login {
    border-left: none; 
    border-top: 2px solid #29292e; 
  }
}

@media (max-width: 410px) {
  .form input {
    min-width: 180px;
  }
  .login,
  .registro {
    padding: 60px calc((100vw - 180px) / 2);
  }
}